<div id="view-container">
    <div id="direct" style="width:<%= file_container_width(@width) %>px;">
        <a href="/f/<%= @key %>">DIRECT LINK</a>
    </div>
    <div id="view">
        <div id="element">
            <a href="/f/<%= @key %>"><img src="/f/<%= @key %>" width=<%= @width %> height=<%= @height %>></a>
        </div>
        <div id="title"><%= @paste.name || "Untitled" %></div>
        <div id="details">
            <strong>Views</strong>: <%= @paste.views %><br>
            <strong>Dimensions</strong>: <%= @width %>x<%= @height %><br>
            <strong>File Size</strong>: <%= number_to_human_size(@size) %> bytes<br>
            <strong>File Type</strong>: <%= @type %><br>
            <strong>Uploaded</strong>: <%= @paste.created_at.to_s.split(" ").first %><br>
            <strong>Expires In</strong>: <%= duration(Time.now, @paste.expires_at) %>
        </div>
    </div>
</div>