<% content_for :head do %>
<script>
    swfobject.embedSWF("<%= S3Writer.get_path(@key) %>", "flashContent", "<%= @paste.width %>", "<%= @paste.height %>", "11.0.0", false, {}, { "wmode" : "direct" }, {});
</script>
<% end %>

<div id="view-container">
    <div id="direct" style="width:<%= (@paste.width + 10) < 400 ? 400 : (@paste.width + 10) %>px;">
        <a href="<%= S3Writer.get_path(@key) %>">DIRECT LINK</a>
    </div>
    <div id="view" style="width:<%= (@paste.width + 10) < 400 ? 400 : (@paste.width + 10) %>px;">
        <div id="element" style="width:<%= @paste.width %>px;height:<%= @paste.height %>px">
            <div id="flashContent" class="center">Unable To View Movie</div>
        </div>
        <div id="title"><%= @paste.name || "Untitled" %></div>
        <div id="details">
            <strong>Views</strong>: <%= @paste.views %><br>
            <strong>Dimensions</strong>: <%= @paste.width %>x<%= @paste.height %><br>
            <strong>File Size</strong>: <%= number_to_human_size(@paste.filesize) %> bytes<br>
            <strong>File Type</strong>: <%= @paste.content_type %><br>
            <strong>Uploaded</strong>: <%= @paste.created_at.to_s.split(" ").first %><br>
            <strong>Expires In</strong>: <%= duration(Time.now, @paste.expires_at) %>
        </div>
    </div>
</div>